@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
h1,
h2,
h3,
p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 25px;
}

h2 {
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.chart-container-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  /* gap: 2em; */
  border: 1px solid #ccc;
}
.chart-container-item {
  border: 1px solid #ccc;
}

#chart-container3 {
  grid-column: 1 / 3;
  height: 80vh;
  width: 75%;
  align-self: center;              
}

@media screen and (max-width: 1023px) {
  .chart-container-main {
    grid-template-columns: 1fr;
  }
}